@{
    ViewBag.Title = "Office Self Service";
}

<html>
<head>
    <title>SelfService</title>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    @*<link href="stylesheets/typeahead.css" rel="stylesheet">*@
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0.1/fabric.min.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0.1/fabric.components.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript" src="./Scripts/vkbeautify.0.99.00.beta.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>
<body>
    <div id="versionModal" class="ms-Dialog custom-Dialog" >
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        <div class="ms-Dialog-main custom-Dialog-main" >
         
            <div class="ms-Dialog-header">
                <p class="ms-Dialog-title">What version of Office do you Need?</p>
                <hr />
            </div>
            <div class="ms-Dialog-inner custom-Dialog-inner">
                <p id="versionDescription" class="ms-font-l"></p>
                <div class="ms-dialog-actions custom-Dialog-actions">
                    <div>
                        <ul id="versions" class="modalListVersion">
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="productModal" class="ms-Dialog custom-Dialog hidden">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        <div class="ms-Dialog-main custom-Dialog-main">
            <button class="ms-Dialog-button custom-back-button" onclick="showModal('versionModal')">
                <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg"/>
                <span class="ms-font-l">Back</span>
            </button>
            <div class="ms-Dialog-header">
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col">
                <p class="ms-Dialog-title">Select Package</p>
                    </div>
                    <div class="ms-Grid-col">
                        <div id="outerSearchBox" class="ms-SearchBox ms-SearchBox-field custom-SearchBox">
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <div class="ms-Dropdown" style="width:150px">
                            <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--caretDown"></i>
                            <select id="ddl-Location" class="ms-Dropdown-select">
                            </select>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <button id="btn-Reset" class="ms-Button">
                            <span class="ms-Button-label">Reset Filters</span>
                        </button>
                    </div>
                </div>
                <hr />
            </div>
            <div class="ms-Dialog-inner custom-Dialog-inner">
                <div class="languages">
                    <ul id="buildsGrid" class="modalList default_list">
                        @*BUILDS GO HERE*@
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="languageModal" class="ms-Dialog custom-Dialog hidden">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
            <div class="ms-Dialog-main custom-Dialog-main">
                <button class="ms-Dialog-button custom-back-button" onclick="showModal('productModal')">
                    <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg"/>
                    <span class="ms-font-l">Back</span>
                </button>
                <div class="ms-Dialog-header">
                    <p class="ms-Dialog-title">Select Languages</p>
                    <hr />
                </div>
                <div class="ms-Dialog-inner custom-Dialog-inner">
                    <div class="ms-Grid">
                        <div id="languagesGrid" class="ms-Grid languagesGrid">
                            <ul class="languageul">
                                @*LANGUAGES GO HERE*@
                            </ul>
                        </div>
                    </div>
                    <div class="ms-dialog-actions custom-Dialog-actions">
                        <div class="languagesContinue">
                            <button id="languageButton" class="ms-Dialog-action ms-Button ms-Button--primary" onclick="setLanguage()" disabled>
                                <span class="ms-Button-label">Continue</span>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div id="confirmationModal" class="ms-Dialog custom-Dialog hidden">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        <div class="ms-Dialog-main custom-Dialog-main">
            <button class="ms-Dialog-button custom-back-button" onclick="showModal('languageModal')">
                <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg"/>
                <span class="ms-font-l">Back</span>
            </button>
            <div class="ms-Dialog-header">
                <p class="ms-Dialog-title">Lets make sure you're getting what you need...</p>
                <hr />
            </div>
            <div class="ms-Dialog-inner confirmation-Dialog-inner">
                <p class="ms-font-l">Here's what you are about to download. If this is correct please click the  <b>Confirm</b> button to proceed downloading</p>
                <div class="ms-Grid">
                    <div class="ms-Grid-row">
                        <div class="ms-Grid-col confirmationField">
                            <p class="ms-font-l">Office Version:</p>
                        </div>
                        <div class="ms-Grid-col">
                            <p id="versionSpan" class="ms-font-l"></p>
                        </div>
                    </div>
                   <div class="ms-Grid-row">
                        <div class="ms-Grid-col confirmationField">
                            <p class="ms-font-l">Product Package:</p>
                        </div>
                       <div class="ms-Grid-col confirmationField">
                           <p id="productSpan" class="ms-font-l"></p>
                       </div>
                    </div>
                    <div class="ms-Grid-row">
                        <div class="ms-Grid-col confirmationField">
                            <p class="ms-font-l">Languages:</p>
                        </div>
                        <div class="ms-Grid-col ms-u-lg10">
                            <p id="languageSpan" class="ms-font-l"></p>
                        </div>
                    </div>
            </div>
                <div class=" ms-dialog-actions confirmationActions">
                    <div>
                        <button class="ms-Dialog-action ms-Button ms-Button--primary" onclick="showModal('downloadModal')">
                            <span class="ms-Button-label">Install</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="downloadModal" class="ms-Dialog custom-Dialog hidden">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        <div class="ms-Dialog-main custom-Dialog-main">
            <button class="ms-Dialog-button custom-back-button" onclick="showModal('confirmationModal')">
                @*hide first SVG until bug fixed*@
                <img class="ms-Icon ms-Icon--x hidden"  src="~/Content/imgs/arrow-left-icon.svg"/>
                <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg" />
                <span class="ms-font-l">Back</span>
            </button>
            <div class="ms-Dialog-header">
                <p class="ms-Dialog-title">You're all set! Your download will begin shortly...</p>
                <hr />
                </div>
            <div class="ms-Dialog-inner custom-Dialog-inner">
               <p class="ms-font-l">If your download doesn't start after 10 seconds please download Office <a id="directDL" href="#"></a> here.</p>
            </div>
        </div>
    </div>

    <div id="helpModal" class="ms-Dialog custom-Dialog hidden">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        @Html.Partial("~/Views/SHared/_help.cshtml")
    </div>
</body>
</html>