<!DOCTYPE html>
<html>
<head>
    <title>SelfService</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="Office Self Service" type="img/png" href="~/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0.1/fabric.min.css">
    <link rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0.1/fabric.components.min.css">

</head>
<body style="overflow: hidden;">

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/taggle")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
    <script type="text/javascript" src="./Scripts/FileSaver.js"></script>
    <script type="text/javascript" src="//1000hz.github.io/bootstrap-validator/dist/validator.min.js"></script>
    <script type="text/javascript" src="./Scripts/jquery.fabric.min.js"></script>
    <script type="text/javascript" src="./Scripts/ss.js"></script>

<div id="pageFooter" class="custom-footer footer">
    </div>

    <script>
        $(document).ready(function() {


            if ($('.ms-FilePicker').length > 0) {
                $('.ms-FilePicker').css({
                    "position": "absolute !important"
                });

                $('.ms-Dropdown').FilePicker();
                $('.ms-Toggle').FilePicker();
                $('.ms-Table').FilePicker();
                $('.ms-DatePicker').FilePicker();
            } else {
                if ($.fn.Dropdown) {
                    $('.ms-Dropdown').Dropdown();
                }
                if ($.fn.Toggle) {
                    $('.ms-Toggle').Toggle();
                }
                if ($.fn.Table) {
                    $('.ms-Table').Table();
                }
                if ($.fn.DatePicker) {
                    var myDatepicker = $('.ms-DatePicker').DatePicker({
                        label: "Deadline"
                    });
                }

                if ($.fn.Panel) {
                    $('.ms-Panel').Panel();
                }

                if ($.fn.Dialog) {
                    $('.ms-Dialog').Dialog();
                }

                if ($.fn.List) {
                    $('.ms-List').List();
                }
            }

            if (fabric && fabric['Dropdown']) {
                var component, componentHolder;
                componentHolder = document.querySelector('.component-holder');

                if (componentHolder) {
                    component = new fabric.Spinner(componentHolder);
                }
            }
            if (fabric && fabric['Toggle']) {
                var component, componentHolder;
                componentHolder = document.querySelector('.component-holder');

                if (componentHolder) {
                    component = new fabric.Spinner(componentHolder);
                }
            }
            if (fabric && fabric['Table']) {
                var component, componentHolder;
                componentHolder = document.querySelector('.component-holder');

                if (componentHolder) {
                    component = new fabric.Spinner(componentHolder);
                }
            }
            if (fabric && fabric['DatePicker']) {
                var component, componentHolder;
                componentHolder = document.querySelector('.component-holder');

                if (componentHolder) {
                    component = new fabric.Spinner(componentHolder);
                }
            }

            if (!/Trident/i.test(navigator.userAgent) && !/Edge/i.test(navigator.userAgent)) {
                $(".custom-Dialog").children().empty();
                $(".custom-Dialog").append("<div class='ms-Grid custom-Dialog-main'><div class='ms-Grid-row'>\
                            <div class='ms-Grid-col ms-u-sm12'>\
                        <div class='ms-Grid -header custom-header'>\
                            <div class='ms-Grid-row'>\
                                <div class='ms-font-su'>This site is only accessible via Internet Explorer or Microsoft Edge.</div>\
                        </div></div></div></div></div>");

            }

        });
    </script>

    <script>
        var ServerSide = {
            GenerateXML :   '@Url.Action("GenerateXml", "SelfService")'
        }
    </script>
</bodystyle="overflow:>
</html>
